# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
.env

# Dataset
dataset/

# ML Models
*.h5
*.sav
*.pkl

# Static and media files
/static/
/media/

# IDE settings
.idea/
.vscode/
